body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f1f1f1;
}

header {
    padding: 10px;
    background-color: #333;
    color: #fff;
}

header h1 {
    margin: 0;
    font-size: 24px;
    text-align: center;
}

header nav {
    text-align: center;
}

header nav a {
    display: inline-block;
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}

.main {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-group button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #555;
}

.form-group .message {
    margin-top: 10px;
    color: #333;
}




footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}